
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**Header**/
body {
	font-size: 16px;
	color: #000;
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
	justify-content: center;
}

#header-nav {
	background-color: #0275D8;
	border-radius: 0;
	border: 0;	
}
.navbar-brand {
	padding-top: 0px;
}

.navbar-brand h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px;
	margin: 10px auto 15px auto;
	color: #fff;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	margin-top: 10px;
	background: #fff;
}
.nav-list {
	text-align: center;
	margin: 1px auto 1px auto;
}
#nav-list a:hover {
	background: #0275D8;
	margin-top: -5px;
	border: 1px solid;
}
#nav-list a{
	font-size: 1.4em;
	text-align: center;
	border: 1px solid;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #fff;
}
.navbar-header button.navbar-toggle:hover {
	background-color:#5B4181 ;
}
.nav-header button.navbar-toggle {
	clear: both;
	margin-top: 1px;
}
#collapsable-nav a {
	color: #0275D8;
}
#collapsable-nav a:hover {
	color: #fff;
}

/**Page-Title**/
#lista-menu {
	text-align: center;
}
#page-title {
	color: #5B4181;
	text-align: center;
}

.wrap{
    padding: 2vh;
    background-color: #5B4181;
}                                               

#page-title{
    font-family: 'Oxygen',sans-serif;
    font-weight: 700;
    font-size: 1.8em;
   margin-bottom: 30px;;
    margin-top: 20px;;
    padding-top: 10px;
}

/**Main Content**/
.menu-item-description{
    margin-bottom: 20px;
    }
#menu-item{
    background-color: #5B4181;
}
.menu-item-title{
    font-size: 1.6em;
    color: #fff;
}
.menu-item-details{
    font-size: 1.2em;
    color: #fff;
}
#main-content{
   
    margin-bottom: 15px;
}
#uptop{
    color: #0275D8;
    font-size: 0.9em;
    font-weight: 700;
}
@media (max-width:768px){
  
    .navbar-brand h1{
        font-size: 2.1em;
    }
    #page-title{
        font-size: 1.9em; 
    } 

    #main-content{
        margin-bottom: 30px;
    }
    .menu-item-description{
        padding: 7vh;
        margin-bottom: 20px;
    }

}

